body{
    margin: 20px;
    font-family:'Times New Roman', Times, serif
   
}

.avatar{
    width: 150px;
    
}

.card{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background: #9ac994;
    color: #19181f;
    border-bottom: 6px solid #d8cefe;

}

.border-blue{
    border: 1px dotted blue;
}